<h1 mat-dialogue-title>
  {{ user ? "Edit User" : "Add User" }}
</h1>
<div mat-dialogue-content>
  <form
    [formGroup]="userForm"
    class="row"
    style="width: 600px; height: 400px; margin: auto"
  >
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>First Name</mat-label>
        <input formControlName="name" matInput />
        <mat-error>
          {{ userForm.get("name")?.errors | formError }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname" />
        <mat-error>
          {{ userForm.get("lastname")?.errors | formError }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">{{
            role
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
          {{ userForm.get("email")?.errors | formError }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 form-container">
        <mat-label>Password</mat-label>
        <div class="input-container">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            matInput
            formControlName="password"
            class="flex-grow"
          />
          <button mat-icon-button (click)="passwordVisibility()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <mat-error>
          {{ userForm.get("password")?.errors | formError }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialogue-actions class="buttons">
  <button mat-raised-button (click)="onSubmit()" color="primary">Save</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
</div>
