h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  height: 80vh;
  margin-top: 40px;
  background: linear-gradient(135deg, #303030, #c1185a);
}

.title {
  margin: 50px auto auto 10px;
  width: 60%;
}

.subtitle {
  margin: auto 10px 50px auto;
  width: 60%;
}
