<h1 mat-dialogue-title>Add Inscription</h1>
<div mat-dialog-content>
  <form
    [formGroup]="inscriptionForm"
    class="row"
    style="width: 400px; height: 100px; margin: auto"
  >
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Course</mat-label>
        <mat-select [formControl]="courseIdControl">
          <mat-option
            [value]="course.id"
            *ngFor="let course of courseOptions$ | async"
            >{{ course.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <mat-label>Student</mat-label>
        <mat-select [formControl]="studentIdControl">
          <mat-option
            [value]="student.id"
            *ngFor="let student of studentOptions$ | async"
            >{{ student.name }} {{ student.lastname }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="buttons">
  <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
  <button mat-dialog-close mat-raised-button color="warn">Cancel</button>
</div>
