.example-container {
  height: 100vh;
}

.example-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-nav-list {
  display: flex;
  align-items: center;
  font-size: 75px;
}

.example-sidenav {
  padding: 20px;
}

.entry {
  font-weight: 400;
  padding: 20px;
}

span {
  margin: 0 0 0 0.25em;
}

app-home {
  margin-left: auto;
  margin-right: 0;
}
