<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h2>Panel de Control</h2>
    <div>
      <p>{{ (authUser$ | async)?.email }}</p>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="home"
        routerLinkActive
        #homeLink="routerLinkActive"
        [activated]="homeLink.isActive"
      >
        <span class="entry">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="users"
        routerLinkActive
        #usersLink="routerLinkActive"
        [activated]="usersLink.isActive"
      >
        <span class="entry">
          <mat-icon>person</mat-icon>
          <span>Usuarios</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="courses"
        routerLinkActive
        #coursesLink="routerLinkActive"
        [activated]="coursesLink.isActive"
      >
        <span class="entry">
          <mat-icon>laptop_chromebook</mat-icon>
          <span>Cursos</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="inscriptions"
        routerLinkActive
        #inscriptionsLink="routerLinkActive"
        [activated]="inscriptionsLink.isActive"
      >
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          <span>Inscripciones</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="students"
        routerLinkActive
        #studetsLink="routerLinkActive"
        [activated]="studetsLink.isActive"
      >
        <span class="entry">
          <mat-icon>school</mat-icon>
          <span>Estudiantes</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list class="logOut">
      <a mat-list-item (click)="logout()">
        <span class="entry">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesion</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span appFontSize> {{ currentText }}</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
