<form [formGroup]="userForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
        <mat-hint>Debe contener al menos 3 letras</mat-hint>
        <mat-error>Input invalido</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error>Mail invalido</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
